@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff')
}

.container {
    margin: auto;
    text-align: center;
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;
    font-size: 3em;
}

.search-box {
    padding: 15px 15px;
    min-width: 40%;
    max-width: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: none;
    margin-bottom: 30px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    font-size: 16px;
}

.search-box:focus {
    outline: none;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2)
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    background-color: rgb(160, 233, 184);
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    flex-basis: calc(25% - 60px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card:hover {
    transform: translateZ(0) scale(1.03);
    -webkit-transform: translateZ(0) scale(1.03);
    -moz-transform: translateZ(0) scale(1.03);
    -ms-transform: translateZ(0) scale(1.03);
    -o-transform: translateZ(0) scale(1.03);
}

.card__image {
    width: 300px;
    height: auto;
}

.card__name {

}

.card__email {

}